<header class="md:flex md:items-center md:justify-between w-full border-b border-(--color-border-light) dark:border-(--color-border-dark) bg-(--color-fondo-light) dark:bg-(--color-fondo-dark) py-5 md:py-0 px-5 md:px-10">
    <div class="md:h-20 flex-1 flex justify-between items-center">
        <h1 class="text-xl mb-1 md:mb-0 md:text-2xl lg:text-4xl font-medium text-(--color-texto-light) dark:text-(--color-texto-dark)">
            <!-- BOTON PARA MOVILE -->
            <button (click)="estadoMenuService.intercambiarValor()" class="inline lg:hidden cursor-pointer">
                <i class="fa-solid fa-bars"></i>
            </button>
            ¡Hola, Nelson!
        </h1>
        <app-btn-theme class="md:hidden" />
        <!-- MENU DE BUSQUEDA PARA LA WEB -->
    </div>
    <app-header-dashboard-menu-web />
    <!-- MENU DE BUSQUEDA PARA MOBILE -->
    <app-header-dashboard-menu-mobile />

</header>