<aside class="w-full h-dvh bg-(--color-fondo-menu) flex flex-col justify-between text-white">
    <div>
        <app-header-menu-mobile />
        <div class="scroll-menu overflow-auto pl-4">
            <!-- LINKS POR DEFECTO -->
            <div class="flex flex-col gap-3">
                @for (link of linkStore.listaDeLinks(); track link.id) {
                    <app-link-menu [dataLink]="link" />
                }
            </div>
            <div>
                <!-- LINKS DE CATEGORIAS -->
                <h2 class="my-3 text-gray-300">Categorias</h2>
                <div class="flex flex-col gap-3">
                    @for (link of categoriaStore.linksDeCategorias(); track link.id) {
                        <app-link-menu [dataLink]="link" />
                    }
                </div>
            </div>
        </div>
    </div>
    <app-footer-menu />
</aside>
