<div class="w-full md:p-6">
  <!-- Header -->
  <div class="mb-8">
    <p class="text-sm text-(--color-fondo-boton) font-medium">Gestión de tareas</p>

    <h1 class="mt-1 text-2xl font-bold tracking-tight text-gray-900">Nueva tarea</h1>

    <p class="mt-2 text-sm text-gray-500">Completa la información para crear una nueva tarea.</p>
  </div>

  <!-- Formulario -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
    <!-- Información principal -->
    <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm">
      <div class="mb-6">
        <h2 class="text-base font-semibold text-gray-900">Información de la tarea</h2>

        <p class="mt-1 text-sm text-gray-500">Define los datos principales de la tarea.</p>
      </div>

      <!-- Título -->
      <div class="mb-5">
        <label for="titulo" class="mb-2 block text-sm font-medium text-gray-700"> Título </label>

        <input
          formControlName="titulo"
          id="titulo"
          type="text"
          placeholder="Ej. Preparar despliegue de la aplicación"
          class="w-full rounded-lg border border-gray-300 bg-gray-50 px-4 py-3 text-sm text-gray-900 outline-none transition placeholder:text-gray-400 focus:border-(--color-fondo-boton) focus:bg-white focus:ring-2 focus:ring-(--color-fondo-boton)"
        />
        <span [hidden]="titulo.valid || titulo.pristine" class="text-sm text-red-400"
          >El titulo es obligatorio.</span
        >
      </div>

      <div class="mb-5">
        <label for="descripcion" class="mb-2 block text-sm font-medium text-gray-700">
          Descripción (Opcional)
        </label>

        <textarea
          formControlName="descripcion"
          id="descripcion"
          type="text"
          placeholder="Ej. Realizar funcionalidades requeridas para el despliegue de la aplicación."
          class="w-full h-15 resize-none rounded-lg border border-gray-300 bg-gray-50 px-4 py-3 text-sm text-gray-900 outline-none transition placeholder:text-gray-400 focus:border-(--color-fondo-boton) focus:bg-white focus:ring-2 focus:ring-(--color-fondo-boton)"
        ></textarea>
      </div>

      <!-- Categoría + Prioridad -->
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <!-- Categoría -->
        <div>
          <label for="categoria" class="mb-2 block text-sm font-medium text-gray-700">
            Categoría
          </label>

          <select
            formControlName="categoria"
            id="categoria"
            class="w-full rounded-lg border border-gray-300 bg-gray-50 px-4 py-3 text-sm text-gray-900 outline-none transition focus:border-(--color-fondo-boton) focus:bg-white focus:ring-2 focus:ring-(--color-fondo-boton)"
          >
            <option selected value="">Selecciona una categoría</option>
            @for (categoria of categoriaStore.categorias(); track categoria.id) {
              <option [value]="categoria.id">{{ categoria.titulo }}</option>
            }
          </select>
          <span [hidden]="categoria.valid || categoria.pristine" class="text-sm text-red-400"
            >La categoria es obligatoria.</span
          >
        </div>

        <!-- Prioridad -->
        <div>
          <label for="prioridad" class="mb-2 block text-sm font-medium text-gray-700">
            Prioridad
          </label>

          <select
            formControlName="prioridad"
            id="prioridad"
            class="w-full rounded-lg border border-gray-300 bg-gray-50 px-4 py-3 text-sm text-gray-900 outline-none transition focus:border-(--color-fondo-boton) focus:bg-white focus:ring-2 focus:ring-(--color-fondo-boton)"
          >
            <option selected value="">Selecciona una prioridad</option>
            <option value="Baja">Baja</option>
            <option value="Media">Media</option>
            <option value="Alta">Alta</option>
          </select>
          <span [hidden]="prioridad.valid || prioridad.pristine" class="text-sm text-red-400"
            >La prioridad es obligatoria.</span
          >
        </div>
      </div>
    </div>

    <!-- Planificación -->
    <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm">
      <div class="mb-6">
        <h2 class="text-base font-semibold text-gray-900">Planificación</h2>

        <p class="mt-1 text-sm text-gray-500">Define cuándo debe realizarse la tarea.</p>
      </div>

      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <!-- Fecha -->
        <div>
          <label for="fecha" class="mb-2 block text-sm font-medium text-gray-700"> Fecha </label>

          <input
            formControlName="fecha"
            id="fecha"
            type="date"
            class="w-full rounded-lg border border-gray-300 bg-gray-50 px-4 py-3 text-sm text-gray-900 outline-none transition focus:border-(--color-fondo-boton) focus:bg-white focus:ring-2 focus:ring-(--color-fondo-boton)"
          />
          <span [hidden]="fecha.valid || fecha.pristine" class="text-sm text-red-400"
            >La fecha es obligatoria.</span
          >
        </div>

        <!-- Etiquetas -->
        <div>
          <label for="etiqueta" class="mb-2 block text-sm font-medium text-gray-700">
            Etiquetas
          </label>

          <input
            formControlName="etiquetas"
            id="etiqueta"
            type="text"
            placeholder="Ej. Angular, Frontend"
            class="w-full rounded-lg border border-gray-300 bg-gray-50 px-4 py-3 text-sm text-gray-900 outline-none transition placeholder:text-gray-400 focus:border-(--color-fondo-boton) focus:bg-white focus:ring-2 focus:ring-(--color-fondo-boton)"
          />
          <span [hidden]="etiquetas.valid || etiquetas.pristine" class="text-sm text-red-400"
            >Escribe por lo menos una etiqueta.</span
          >
        </div>
      </div>
    </div>

    @if (categoria.value == '3') {
      <!-- Asignación -->
      <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm">
        <div class="mb-6">
          <h2 class="text-base font-semibold text-gray-900">Asignación</h2>

          <p class="mt-1 text-sm text-gray-500">Selecciona el usuario responsable de la tarea.</p>
        </div>

        <div>
          <label for="usuario" class="mb-2 block text-sm font-medium text-gray-700">
            Responsable
          </label>

          <select
            id="usuario"
            class="w-full rounded-lg border border-gray-300 bg-gray-50 px-4 py-3 text-sm text-gray-900 outline-none transition focus:border-(--color-fondo-boton) focus:bg-white focus:ring-2 focus:ring-(--color-fondo-boton)"
          >
            <option value="">Selecciona un usuario</option>
            <option value="1">Andrés</option>
            <option value="2">Nelson</option>
            <option value="3">Carlos</option>
            <option value="4">Laura</option>
            <option value="5">Mariana</option>
            <option value="6">Julián</option>
          </select>
        </div>
      </div>

    }
    <!-- Acciones -->
    <div class="flex items-center justify-end gap-3">
      <a
        routerLink="/dashboard/inicio"
        type="button"
        class="cursor-pointer rounded-lg border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-700 transition hover:bg-gray-50"
      >
        Cancelar
      </a>

      <button
        type="submit"
        class="cursor-pointer rounded-lg bg-(--color-fondo-boton) px-5 py-2.5 text-sm font-semibold text-white shadow-sm transition hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-(--color-fondo-boton)/30"
      >
        Crear tarea
      </button>
    </div>
  </form>
</div>
