<header class="border-b border-(--color-border) bg-white/80">
    <div class="h-20 flex justify-between items-center px-10">
        <h1 class="text-4xl font-medium"> Tareas </h1>
        <div class="flex gap-4">
            <input class="w-50 h-10 border-2 border-gray-300 rounded-xl outline-none shadow indent-3 focus:border-(--color-fondo-boton)" placeholder="Buscar tareas..." type="text">
            <button class="bg-(--color-fondo-boton) px-3 rounded-xl">Buscar</button>
        </div>
    </div>
</header>